h1 {
  margin-bottom: inherit;
  font-style: italic;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}

h2{
  margin-bottom: auto;
  font-style: normal;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
}

li{
  font-style: italic;
  font-family:monospace;
  font-size: 14px;
  text-align: center;
}

.prof-pic{
  margin-top: auto;
  border-radius: 60px;
  border-style: dotted;
  border-color: blue;
  text-align: center;
}
